# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack


# Coverage
coverage

# Dotenv
!.env.example
.env*

apps/task-api/app
apps/task-api/output
